
.firstSection {
width: 100%;
margin: auto;
padding: auto;
  }
  .mealGeneralDive {
    width: 90%;
    margin: auto;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  } 
  .childDive {
    width: 30%;
    height: fit-content;
    margin: auto;
    font-weight: bold;
    padding: 10px;
  }
  .btnDive {
    width: 30%;
    height: fit-content;
    margin: auto;
    font-weight: bold;
    padding: 10px;
  }
  .childDive img {
    max-width: 100%;
    border-radius: 50%
  }
  button {
    background-color: rgb(202, 202, 202);
    border: gray solid;
    padding:auto ;
    width: auto;
    height: 2rem;
    text-align: center;
    border-radius: 5px;
    border-color: rgb(233, 168, 5);
    line-height: 3vw; 
    height: 3vw;
    }
pre {
margin-bottom: 1em;
width: 100%;
height: 100px;
overflow-y:scroll;
font-family:monospace, sans-serif;
font-style: italic;
display: flex;
flex-direction: row;
}
pre li {
  width: 100%;
  padding:auto;
}
strong {
  font-size: 2vw;
}
@media only screen and (max-width: 600px) {
  .mealGeneralDive {
    width: 100%;
    margin: auto;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

  } 
  .childDive {
    width: 100%;
    height: fit-content;
    margin: auto;
    font-weight: bold;
    padding: 10px;
    border: none
  }
  .childDive img {
    max-width: 100%;
    border-radius: 0%
  }
  .btnDive {
    width: 30%;
    display: flex;
    flex-direction: row;
  }
    button {
    background-color: rgb(202, 202, 202);
    border: gray solid;
    padding:auto ;
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 5px;
    border-color: rgb(233, 168, 5);
    line-height: 3vw; 
    }
    ul li {
      width: 100%;
      font-size: 2.5vw;
    }
    strong {
      font-size: 3vw;
    }
    a {
      font-size: 2.5vw;
    }
    h4 {
      font-size: large;
    }
    .btnDive h5 {
      font-size: 2.5vw;
    }

    pre {
    margin-bottom: 1em;
    width: 100%;
    overflow-y:scroll;
    font-family:monospace, sans-serif;
    display: flex;
    flex-direction: row-reverse;
    }
    pre li {
      width: 100%;
      font-size: 2.5vw;
    }
    }