.mealDiv {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: auto;
}
.mealUl {
  width: 50%;
  padding: 10px;
}
.mealUl li {
font-size: 2vw;
}
.mealDiv img {
  width: 50%;
  height: 30%;
  border-radius: 0%;
  padding: 10px;

}
.reservReviewDiv {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  font-size: 2vw;
  padding: 5rem;
}
.reservReviewDiv h4 {
  color: #fff;
}
.reserveForm {
  width: 50%;
  margin: auto;
}
.reserveForm input{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2vw;
  }
  .reserveForm label, button {
  font-size: 2vw;
  }
  .reviewForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 10%;
  }
  .reviewForm select{
    margin: auto;
    width: 30%;
    font-size: 2vw;
  }
  .reviewForm button {
    margin: auto;
    width: 30%;
    font-size: 2vw;
  }

  @media only screen and (max-width: 600px) {
    .mealDiv {
      width: 100%;
      border-bottom: 1px groove grey;
      display: flex;
      flex-direction: column;
      margin: auto;
      padding: auto;
    }
    .mealUl {
      width: 100%;
      padding: 10px;
    }
    .mealUl li {
      width: fit-content;
      font-size: 3vw;
      }
    .mealDiv img {
      width: 100%;
      height: auto;      
      border: 2px;
      padding: 10px;
      align-self: center;
    
    }
    .reserveForm {
      width: 100%;
      margin: auto;
    }
    .reviewForm {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: auto;
      margin-top: 10%;
    } 
    p {
      font-size: 2vw;
    }
  }