.mealDiv {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: auto;
}
.mealUl {
  width: 50%;
  padding: 10px;
}
.mealUl li {
font-size: 2vw;
}
.mealDiv img {
  width: 50%;
  height: 30%;
  border-radius: 0%;
  padding: 10px;

}
.reservReviewDiv {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  font-size: 2vw;
  padding: 5rem;
}
.reservReviewDiv h4 {
  color: #fff;
}
.reserveFormAndFlash {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.reserveForm {
  width: 50%;
  margin: auto;
}
.reserveForm input{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2vw;
  }
  .reserveForm label, button {
  font-size: 2vw;
  }
  .reviewForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 10%;
  }
  .reviewForm select{
    margin: auto;
    width: 30%;
    font-size: 2vw;
  }
  .reviewForm button {
    margin: auto;
    width: 30%;
    font-size: 2vw;
  }
.seatLeft {
  width: 30%;
  padding: auto;
  text-align: center;
}
@keyframes example {
  0%  {background-color:rgb(107, 169, 107); left:0px; top:200px;}
  50% {background-color:rgb(56, 160, 21); left:200px; top:0px;}
  100%  {background-color:rgb(126, 227, 126); left:0px; top:200px;}
}
.seatLeftRes {
  animation-name: example;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
  @media only screen and (max-width: 600px) {
    .mealDiv {
      width: 100%;
      border-bottom: 1px groove grey;
      display: flex;
      flex-direction: column;
      margin: auto;
      padding: auto;
    }
    .mealUl {
      width: 100%;
      padding: 10px;
    }
    .mealUl li {
      width: fit-content;
      font-size: 3vw;
      }
    .mealDiv img {
      width: 100%;
      height: auto;      
      border: 2px;
      padding: 10px;
      align-self: center;
    
    }
    .reserveForm {
      width: 100%;
      margin: auto;
    }
    .reviewForm {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: auto;
      margin-top: 10%;
    } 
    p {
      font-size: 2vw;
    }
    .reserveFormAndFlash {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-evenly;
    }
    .seatLeft {
      width: 50%;
      align-items: baseline;
    }
  }